h2{
    justify-content: center;
    display: flex;
    width: 100%;
}


#container{
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 1.5em;
}

#controls{
    justify-content: center;
    display: flex;
    margin: 1em;
    width: 100%;
}

button {

    all:unset;
}

.button{
    opacity: 80%;
    margin: 0.5em;
    align-self: center;
}

.button:hover{
    opacity: 100%;
    cursor:pointer;
}

#typeToggle{
    background-color: white;
    border: 0.1em solid lightgray;
    padding:1.8em;
    text-align: center;
    border-radius: 10px;
    
}
